models/
models

.env
.env/
backend/.env

.venv
.venv/
venv/
**/venv/

# Python cache files
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
*.pyo
**/*.pyo
*.pyd
**/*.pyd
*.so
.Python

# Log files
logs/
*.log
*.log.*
backend/logs/
**/*.log
**/*.log.*


keys.json.enc
backend/secure/keys.json.enc
backend/data/keys.json.enc

# macOS system files
.DS_Store
**/.DS_Store


.doc
doc/
doc

frontend.log
.next
.pytest_cache
.github
.vscode
